.row img{
  height: 90%;
  width: 90%;
}
.row h6{
  margin-top: 2%;
}
.modal-header{
font-family: cursive;
}
.row h6{
  font-size: 25px;
  margin-left: 10%;
  margin-right: 10%;
}
.modal-title{
  font-size: 40px
}
